#navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #a96ad9;
  padding: 10px;
  margin-bottom: 10px;
}

#navbar a {
  color: #343434;
  margin-right: 20px;
  text-decoration: underline;
  transition: color 0.2s ease;
}

#navbar a:hover {
  cursor: pointer;
  color: #91a4d2;
}
